<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/templates/main.css">
    <title>Mojosa</title>
</head>
  <body>
      <header>
        <h2 class="headertext">Main</h2>
      </header>
      <main>
        <form action="/search" method="post">
            <p><input type="search" name="query" placeholder="Поиск по тегам: <тег>"></p>
            <input type="submit" value="Найти">
        </form> 
        {{ range .}}
            <p><a class="button" href="post/{{ .Name }}">{{ .Name }}</a></p>
        {{ end }}
      </main>
    </div>
  </body>
</html>